/* Simple grid */
.eo-grid-12 {
	float:left;
  	width: 66.66%;
}
.eo-grid-8 {
	float:left;
  	width: 66.66%;
}
.eo-grid-4 {
	float:left;
  	width: 33.33%;
}
.eo-grid-6 {
	float:left;
  	width: 50%;
}
.eo-grid-3 {
	float:left;
  	width: 25%;
}
.eo-grid-row{
	padding-top: 10px;
	padding-bottom: 10px;
}
.eo-grid-12,.eo-grid-8,.eo-grid-4,
.eo-grid-6,.eo-grid-3 {
	min-height: 1px;
}
.eo-grid:after,
.eo-grid-row:after{
	content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 850px) {
	.eo-grid-4,
	.eo-grid-6,
	.eo-grid-8{
		width: 100%;
	}
	.eo-grid-3{
		width: 50%;
	}
}

@media only screen and (max-width: 500px) {
	.eo-grid-3{
		width: 100%;
	}
}

/* Event edit page */
.eo-days-of-week li{
	display: inline-block;
	margin-right: 8px;	
}
.eo-days-of-week li input[type="checkbox"] {
	margin-right: 2px;
}
.eo-days-of-week-text{
	float:left;
	margin-right:10px;
}
.eo-add-new-venue{
	display: none;
}
input#venue_select{
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 3px;
}
input#venue_select.eo-waiting{
	background-image: url(images/spinner.gif);
}
#venuemap{height:300px; width:100%;float:right;margin: 10px 0 10px -300px}

/* Events page: */
.post-type-event .tablenav.top .alignleft.actions select[name="m"]{display: none; }

/* Venue edit page*/
#venue_address.postbox #venuemap{height: 335px;margin: 0 0 0 -60%;width: 60%;}

@media only screen and (max-width: 860px) {
	#venue_address.postbox #venuemap{
		width: 100%;
		clear: both;
	}
}

@media only screen and (max-width: 1320px) {
	#post-body.columns-2 #venuemap{
		width: 100%;
		clear: both;
	}
	.folded #post-body.columns-2 #venuemap{
		width: 60%;
		clear:none;
	}
}

@media only screen and (max-width: 1190px) {
	.folded #post-body.columns-2 #venuemap{
		width: 100%;
		clear: both;
	}
}

/* Venue address table in metabox*/
#eo_venue_form .address-fields {float:left;text-align:left;margin: 10px;}
#eo-venue-latllng-text{
	border-bottom: 1px dotted #aaa;
	cursor:pointer;
}
#eo-venue-latllng-text:hover{
	border-bottom: 1px dotted #000;
}



/* Venue address metabox fix */
#eo_venue_form #venue_address .inside{padding:0;margin:0;}

/* Calendar View*/
.fc-basic-view tbody .fc-row { min-height: 7em; }
.fc-header-dropdown{margin-top: 2px;display: inline-block;}
.fc-text-arrow{line-height:0;}
.fc-button-prev .ui-button-text, .fc-button-next .ui-button-text {padding-top: 0.5em;}
.fc-button{height: 2.2em;line-height: 2.2em;}
.event.past-event{opacity:0.5;}
form.eo_cal .ui-autocomplete-input{width:220px;}
#eo_admin_calendar .fc-bg{ background: white; }
#calendar-view .view-button{float:right;height: 30px;line-height: 28px;margin-top: 3px;padding: 0 11px;}
#calendar-view{clear: both;height: 34px;margin-bottom: 15px;border-bottom: 1px solid #dfdfdf;padding-right: 100px;position: relative;}
#calendar-view .nav-tab{ font-size: 15px }
#calendar-view #loading{position:absolute;bottom:0;font-size: 16px;line-height: 16px;margin-bottom: 5px;}
#calendar-view #loading:before {content: url("images/loading-image.gif");padding-right: 5px;}
/*For the blocks of colour*/
.cat .ui-selectmenu-item-icon { height: 14px; width: 14px; border:1px solid #dfdfdf;border-radius: 4px;}
.cat .ui-selectmenu-item-icon{ background-image:none!important; }
.event_page_calendar .ui-widget-overlay{ z-index:99999!important;}

/* Table on event details calendar view*/
.eo-cal-meta .form-table th {width:50px;}
/*Drop down filters*/
#eo_admin_calendar select { min-width:180px; width:auto}
.ui-widget-overlay{z-index:1000;}
.eo-admin-calendar-dialog{z-index:100000!important;}
/*.eo-admin-calendar-dialog.ui-dialog .ui-dialog-titlebar-close span {margin: -8px;}*/
#eo-dialog-tabs, #events-meta {border: none;padding: 0}

/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 2.2em; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden;} 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }

/* Autocomplete / Combobox
----------------------------------*/
.ui-autocomplete .ui-menu-item{border-top: 1px solid #cbc7bd;}
.ui-autocomplete .ui-menu-item:first-child {border-top: none;}
.ui-combobox {position: relative;display: inline-block;margin-right:30px;}
.ui-combobox-toggle {top: 0;bottom: 0;margin-left: -1px;padding: 0;*height: 1.7em;*top: 0.1em;}
.ui-combobox-input {margin: 0;padding: 0.3em;}
.eo-venue-combobox-buttons{position: absolute;width:4.5em;}

.eo-admin-calendar-dialog .ui-autocomplete {
	max-height: 100px;
	max-width:220px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

#eo_occurrence_datepicker .ui-datepicker .eo-op-date-not-selected a,
#eo_occurrence_datepicker .ui-widget-content .ui-datepicker-current-day a{
	background: #ececec;
}
#eo_occurrence_datepicker .ui-datepicker .eo-op-date-selected a{
color:#FFF;
background: #1e8cbe;
}

.ui-timepicker-table tbody .ui-state-hover,
.ui-datepicker-calendar tbody .ui-state-hover{
	outline: 2px solid #1e8cbe !important;
}


/*
 * Timepicker stylesheet
 * Highly inspired from datepicker
 * FG - Nov 2010 - Web3R 
 */
.ui-timepicker-inline{display:inline}
#ui-timepicker-div{background-color:#fff;padding:.2em}
.ui-timepicker-table{display:inline-table;width:0}
.ui-timepicker-table table{border-collapse:collapse;margin:.15em 0 0}
.ui-timepicker-hours,.ui-timepicker-minutes{padding:.2em}
.ui-timepicker-table .ui-timepicker-title{line-height:1.8em;text-align:center}
.ui-timepicker-table td span{display:block;width:1.2em;text-align:right;text-decoration:none;padding:.2em .3em .2em .5em}
.ui-timepicker-table td a{display:block;width:1.2em;cursor:pointer;text-align:right;text-decoration:none;padding:.2em .3em .2em .5em}
.ui-timepicker .ui-timepicker-buttonpane{background-image:none;border-left:0;border-right:0;border-bottom:0;margin:.7em 0 0;padding:0 .2em}
.ui-timepicker .ui-timepicker-buttonpane button{cursor:pointer;width:auto;overflow:visible;margin:.5em .2em .4em;padding:.2em .6em .3em}
.ui-timepicker .ui-timepicker-close{float:right}
.ui-timepicker-cover{display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}
.ui-timepicker-table td,.ui-timepicker-table th.periods{width:2.2em;padding:.1em}
.ui-timepicker .ui-timepicker-now,.ui-timepicker .ui-timepicker-deselect{float:left}

/* Debugger */
.eo-debug-alert{font-weight:bold;color:orange;}
.eo-debug-warning{font-weight:bold;color:red;}
.eo-debug-ok{font-weight:bold;color:green;}

/*! qTip2 - Pretty powerful tooltips - v2.0.0 - 2012-08-14
* http://craigsworks.com/projects/qtip2/
* Copyright (c) 2012 Craig Michael Thompson; Licensed MIT, GPL */
/* Core qTip styles */
.ui-tooltip, .qtip{position:absolute; left:-28000px; top:-28000px; display:none; max-width:280px; min-width:50px; font-size:10.5px; line-height:12px; border-width:1px; border-style:solid}

/*!
 * qTip2 - Pretty powerful tooltips - v2.0.1-4-g
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * https://jquery.org/license
 *
 * Date: Fri Jan 4 2013 04:05 GMT+0000
 * Plugins: svg ajax tips modal viewport imagemap ie6
 * Styles: basic css3
 */
a.eo-inline-help img {
	width: 16px;
	height: 16px;
	display: inline-block;
	text-decoration: none;
	margin-left:3px;
	margin-bottom:-3px;
}
.ui-tooltip-content ul{
	list-style:circle;
}
.ui-tooltip-content ul li{
	margin-left: 20px;
}
/* Core qTip styles */
.qtip, .qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 280px;
	min-width: 50px;
	
	font-size: 10.5px;
	line-height: 12px;
	z-index:300005!important;
	direction: ltr;
}
.qtip-content{
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	font-size: 11px;
	text-align: left;
	word-wrap: break-word;
	background-color: rgb(247, 247, 247);
}
.qtip-titlebar{
	position: relative;
	padding: 5px 35px 5px 10px;
	overflow: hidden;
	border-width: 0 0 1px;
	font-weight: bold;
	font-size: 14px;
	color: #21759B;
}

.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

/* Default tooltip style */
.qtip-default{
	border-width: 1px;
	border-style: solid;
	border-color: #F1D031;
	background-color: #FFFFA3;
	color: #555;
}
.qtip-default .qtip-titlebar{
	background-color: #FFEF93;
}

/*! eo tooltip style */
.qtip-eo{
	background-color: white;
	border-color: #E2E2E2;
	color: #454545;
}
.qtip-eo .qtip-titlebar{
	background-color: rgb(247, 247, 247);
}

/* Fluid class for determining actual width in IE */
.ui-tooltip-fluid{display:block; visibility:hidden; position:static !important; float:left !important}
.ui-tooltip-content{position:relative; padding:5px 9px; overflow:hidden; text-align:left; word-wrap:break-word}
.ui-tooltip-titlebar{position:relative; min-height:14px; padding:5px 35px 5px 10px; overflow:hidden; border-width:0 0 1px; font-weight:bold}
.ui-tooltip-titlebar+.ui-tooltip-content{border-top-width:0 !important}

/* Add shadows to your tooltips in:FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+*/
.ui-tooltip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15); -moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15); box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15)}

/* IE9 fix - removes all filters */
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content, 
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{filter:none; -ms-filter:none}

/*** Admin Calendar Page ***/
/* Flatten header of admin calendar */
#eo_admin_calendar tbody th,
#eo_admin_calendar thead th {
	background: #E4E4E4;
	padding: 5px 0!important;
}
/* Flatten buttons */
#eo-event-venue-button,
#eo-event-cat-button,
.fc-header-goto button,
.fc-button{
	background:white;
	max-width: 300px;
}
/* Hover colour of buttons */
#eo-event-venue-button:hover,
#eo-event-cat-button:hover,
.fc-header-goto button:hover,
.fc-button:hover{
	color:#0074A2;
}
/* Hover colour of option */
#eo-event-cat-menu .ui-widget-content .ui-state-hover,
#eo-event-cat-menu .ui-state-hover,
#eo-event-venue-menu .ui-widget-content .ui-state-hover,
#eo-event-venue-menu .ui-state-hover,
.eo-admin-calendar-dialog .ui-autocomplete .ui-menu-item a.ui-state-focus{
	background: #EEE;
}


/* Calendar dialog */
.eo-admin-calendar-dialog{
	border-radius: 0;
}
.eo-admin-calendar-dialog .ui-dialog-titlebar{
	background: white;
	border: none;
	border-radius: 0;
	font-size: 16px;
}
.eo-admin-calendar-dialog .ui-dialog-titlebar span{
	color: #444;
}
.eo-admin-calendar-dialog .ui-dialog-titlebar-close:focus,
.eo-admin-calendar-dialog .ui-dialog-titlebar-close{
	border:none;
	background: none;
}

/* Keyboard shortcuts dialog */
#eo-keyboard-shortcuts .eo-sc-key{
	text-align: right;
	padding: 0px 10px;
	display: inline-block;
	width: 100px;
}
#eo-keyboard-shortcuts kbd{
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

/* Calendar dialog tabs*/
#eo-dialog-tabs ul{
	position: relative;
	background: #FFF;
	border: none;
	border-bottom: 1px solid #DFDFDF;
	border-radius: 0;
}
#eo-dialog-tabs ul li{
	background: none;
	border: none;
}
#eo-dialog-tabs ul li.ui-tabs-active{
	background: white;
	border: 1px solid #DFDFDF;
	border-bottom: none;
}

/**Add-ons page: for contrast**/
#eo-addons-wrap .eo-addon{ background: white; }