/* Venue map on event edit page */
#venuemap{height:300px; width:100%;float:right;margin: 10px 0 10px -300px}

/*Hide post date filter*/
.tablenav.top .alignleft.actions select[name="m"]{display: none; }

#eventorganiser_event_detail tr.eo-add-new-venue{
	display: none;
}

#eventorganiser_event_detail tr .eo-label{
	width:190px;
}
/* Venue page address form spacing */
#venue_address table tr{line-height: 4em;}

/* Venue map on venue page*/
#venue_address.postbox #venuemap{height: 300px;margin: 0 0 0 -60%;width: 60%;}

/* Venue address table in metabox*/
#eo_venue_form table.address {float:left;text-align:left;margin: 10px;}

/* Venue address metabox fix */
#eo_venue_form #venue_address .inside{padding:0;margin:0;}

/* Calendar View*/
.event.past-event{opacity:0.5;}
form.eo_cal .ui-autocomplete-input{width:220px;}
/* Table on event details calendar view*/
.eo-cal-meta .form-table th {width:50px;}
/*Drop down filters*/
#eo_admin_calendar select { min-width:180px; width:auto}

#eo-dialog-tabs, #events-meta {border: none;padding: 0}

/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 2.2em; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden;} 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }

/* Autocomplete / Combobox
----------------------------------*/
.ui-autocomplete .ui-menu-item{border-top: 1px solid #cbc7bd;}
.ui-autocomplete .ui-menu-item:first-child {border-top: none;}
.ui-combobox {position: relative;display: inline-block;margin-right:30px;}
.ui-combobox-toggle {top: 0;bottom: 0;margin-left: -1px;padding: 0;/* adjust styles for IE 6/7 */*height: 1.7em;*top: 0.1em;}
.ui-combobox-input {margin: 0;padding: 0.3em;}
.eo-venue-combobox-buttons{position: absolute;width:4.5em;}

/*
 * Timepicker stylesheet
 * Highly inspired from datepicker
 * FG - Nov 2010 - Web3R 
 */
.ui-timepicker-inline{display:inline}
#ui-timepicker-div{background-color:#fff;padding:.2em}
.ui-timepicker-table{display:inline-table;width:0}
.ui-timepicker-table table{border-collapse:collapse;margin:.15em 0 0}
.ui-timepicker-hours,.ui-timepicker-minutes{padding:.2em}
.ui-timepicker-table .ui-timepicker-title{line-height:1.8em;text-align:center}
.ui-timepicker-table td span{display:block;width:1.2em;text-align:right;text-decoration:none;padding:.2em .3em .2em .5em}
.ui-timepicker-table td a{display:block;width:1.2em;cursor:pointer;text-align:right;text-decoration:none;padding:.2em .3em .2em .5em}
.ui-timepicker .ui-timepicker-buttonpane{background-image:none;border-left:0;border-right:0;border-bottom:0;margin:.7em 0 0;padding:0 .2em}
.ui-timepicker .ui-timepicker-buttonpane button{cursor:pointer;width:auto;overflow:visible;margin:.5em .2em .4em;padding:.2em .6em .3em}
.ui-timepicker .ui-timepicker-close{float:right}
.ui-timepicker-cover{display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}
.ui-timepicker-table td,.ui-timepicker-table th.periods{width:2.2em;padding:.1em}
.ui-timepicker .ui-timepicker-now,.ui-timepicker .ui-timepicker-deselect{float:left}
