/*Front-end full calendar key*/
.eo-fullcalendar-key ul.eo_fullcalendar_key{display: inline-block;font-size: 0.8em;}
.eo-fullcalendar-key ul.eo_fullcalendar_key li{display: inline-block;margin:0 3px;}
.eo-fullcalendar-key span.eo_fullcalendar_key_colour{margin: 4px 2px 4px 5px;border: 1px solid #DFDFDF;border-radius: 4px 4px 4px 4px;font-size: 0.9em;vertical-align: top;padding: 0 6px;}


/*styling for calendar view tabs */
.view-button{float:right;background: #FFFFFF;height: 30px;line-height: 28px;margin-top: 3px;padding: 0 11px;}
.view-button.active{border-color: #dfdfdf #dfdfdf #FFFFFF;border-style: solid;border-width: 1px;font-size: 120%;}

/*calendar view conainer */
div#calendar-view{clear: both;height: 34px;margin-bottom: 15px;border-bottom: 1px solid #dfdfdf;padding-right: 100px;position: relative;}

/* loading text */
#loading{position:absolute;bottom:0;font-size: 16px;line-height: 16px;margin-bottom: 5px;}
#loading:before {content: url("images/loading-image.gif");padding-right: 5px;}

/*Added to fit with full calendar*/
/*button.ui-datepicker-trigger.ui-button.ui-widget{vertical-align: top;}*/
.ui-datepicker{z-index: 100 !important}
.ui-selectmenu-menu{z-index: 10!important}

/*For the blocks of colour*/
.cat .ui-selectmenu-item-icon { height: 14px; width: 14px; border:1px solid #dfdfdf;border-radius: 4px;}
.cat .ui-selectmenu-item-icon{ background-image:none!important; }

/*
 * FullCalendar v1.5.2 Stylesheet
 *
 * Copyright (c) 2011 Adam Shaw
 * Dual licensed under the MIT and GPL licenses, located in
 * MIT-LICENSE.txt and GPL-LICENSE.txt respectively.
 *
 * Date: Sun Aug 21 22:06:09 2011 -0700
 */
.fc{direction:ltr;text-align:left}
.fc table{border-collapse:collapse;border-spacing:0}
html .fc,.fc table{font-size:1em}
.fc td,.fc th{vertical-align:top;padding:0}
.fc-header td{white-space:nowrap;vertical-align:middle}
.fc-header-left{width:25%;text-align:left}
.fc-header-right{width:25%;text-align:right}
.fc-header-title{display:inline-block;vertical-align:top}
.fc-header-title h2{margin-top:0;white-space:nowrap}
.fc .fc-header-space{padding-left:10px}
.fc-header .ui-corner-right{margin-right:0}
.fc-header .fc-state-hover,.fc-header .ui-state-hover{z-index:2}
.fc-header .fc-state-down{z-index:3}
.fc-header .fc-state-active,.fc-header .ui-state-active{z-index:4}
.fc-content{clear:both}
.fc-view{width:100%;overflow:hidden}
.fc-widget-header,/* <th>,usually */
.fc-widget-content{border:1px solid #ccc}
.fc-state-highlight{background:#ffc}
.fc-cell-overlay{background:#9cf;opacity:.2;filter:alpha(opacity=20)}
.fc-button{position:relative;display:inline-block;cursor:pointer}
.fc-state-default{border-style:solid;border-width:1px 0}
.fc-button-inner{position:relative;float:left;overflow:hidden}
.fc-state-default .fc-button-inner{border-style:solid;border-width:0 1px}
/*.fc-button-content{position:relative;float:left;height:1.9em;line-height:1.9em;white-space:nowrap;padding:0 .6em}*/
.fc-button-content{position: relative;float: left;height: 20px;white-space: nowrap;padding: 0 .6em;line-height: 20px;}
/*.fc-button-content .fc-icon-wrap{position:relative;float:left;top:50%}*/
.fc-button-content .fc-icon-wrap {position: relative;float: left;top: 2px;}
.fc-button-content .ui-icon{position:relative;float:left;margin-top:0;top:-50%}
.fc-state-default .fc-button-effect{position:absolute;top:50%;left:0}
.fc-state-default .fc-button-effect span{position:absolute;top:-100px;left:0;width:500px;height:100px;background:#444;opacity:.09;filter:alpha(opacity=9);border-color:#fff;border-style:solid;border-width:100px 0 0 1px}
.fc-state-default,.fc-state-default .fc-button-inner{background:#F3F3F3;color:#000;border-color:#ccc #bbb #aaa;border-style:solid}
.fc-state-hover,.fc-state-hover .fc-button-inner{border-color:#999}
.fc-state-down,.fc-state-down .fc-button-inner{background:#777;border-color:#555}
.fc-state-active,.fc-state-active .fc-button-inner{background:#777;color:#fff;border-color:#555}
.fc-state-disabled,.fc-state-disabled .fc-button-inner{color:#999;border-color:#ddd}
.fc-state-disabled{cursor:default}
.fc-state-disabled .fc-button-effect{display:none}
.fc-event{font-size:.85em;cursor:default;border-style:solid;border-width:0}
a.fc-event,.fc-event-draggable{cursor:pointer}
a.fc-event{text-decoration:none}
.fc-rtl .fc-event{text-align:right}
.fc-event-skin{background-color:#36c;color:#fff;border-color:#36c}
.fc-event-inner{position:relative;width:100%;height:100%;overflow:hidden;border-style:solid;border-width:0}
.fc-event-time,.fc-event-title{padding:0 1px}
.fc .ui-resizable-handle{display:block;position:absolute;z-index:99999;overflow:hidden;font-size:300%;line-height:50%}
.fc-event-hori{margin-bottom:1px;border-width:1px 0}
.fc-event-hori .ui-resizable-e{top:0!important;right:-3px!important;width:7px!important;height:100%!important;cursor:e-resize}
.fc-event-hori .ui-resizable-w{top:0!important;left:-3px!important;width:7px!important;height:100%!important;cursor:w-resize}
.fc-event-hori .ui-resizable-handle{_padding-bottom:14px}
.fc-corner-left{margin-left:1px}
.fc-corner-left .fc-button-inner,.fc-corner-left .fc-event-inner{margin-left:-1px}
.fc-corner-top{margin-top:1px}
.fc-corner-top .fc-event-inner{margin-top:-1px;border-top-width:1px}
.fc-corner-bottom{margin-bottom:1px}
.fc-corner-bottom .fc-event-inner{margin-bottom:-1px;border-bottom-width:1px}
.fc-corner-left .fc-event-inner{border-left-width:1px}
.fc-border-separate th,.fc-border-separate td{border-width:1px 0 0 1px}
.fc-border-separate tr.fc-last th,.fc-border-separate tr.fc-last td{border-bottom-width:1px}
.fc-grid .fc-day-number{float:right;padding:0 2px}
.fc-grid .fc-other-month .fc-day-number{opacity:0.3;filter:alpha(opacity=30)}
.fc-grid .fc-day-content{clear:both;padding:2px 2px 1px}
.fc-grid .fc-event-time{font-weight:700}
.fc-rtl .fc-grid .fc-day-number{float:left}
.fc-rtl .fc-grid .fc-event-time{float:right}
.fc-agenda .fc-agenda-axis{width:50px;vertical-align:middle;text-align:right;white-space:nowrap;font-weight:400;padding:0 4px}
.fc-agenda .fc-day-content{padding:2px 2px 1px}
.fc-agenda-days .fc-col0{border-left-width:0}
.fc-agenda-allday .fc-day-content{min-height:34px;_height:34px}
.fc-agenda-divider-inner{height:2px;overflow:hidden}
.fc-widget-header .fc-agenda-divider-inner{background:#eee}
.fc-agenda-slots th{border-width:1px 1px 0}
.fc-agenda-slots td{background:none;border-width:1px 0 0}
.fc-agenda-slots td div{height:20px}
.fc-agenda-slots tr.fc-minor th,.fc-agenda-slots tr.fc-minor td{border-top-style:dotted}
.fc-agenda-slots tr.fc-minor th.ui-widget-header{border-top-style:solid}
.fc-event-vert .fc-event-head,.fc-event-vert .fc-event-content{position:relative;z-index:2;width:100%;overflow:hidden}
.fc-event-vert .fc-event-time{white-space:nowrap;font-size:10px}
.fc-event-vert .fc-event-bg{position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;background:#fff;opacity:.3;filter:alpha(opacity=30)}
.fc .ui-draggable-dragging .fc-event-bg,/* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg{display:none\9}
.fc-event-vert .ui-resizable-s{bottom:0!important;width:100%!important;height:8px!important;overflow:hidden!important;line-height:8px!important;font-size:11px!important;font-family:monospace;text-align:center;cursor:s-resize}
.fc-agenda .ui-resizable-resizing{_overflow:hidden}
.fc-header-center,.fc-grid th,.fc-agenda-days th{text-align:center}
.fc-header .fc-button,.fc-corner-right .fc-button-inner,.fc-corner-right .fc-event-inner{margin-right:-1px}
.fc-header .fc-corner-right,.fc-corner-right{margin-right:1px}
.fc-corner-right .fc-event-inner,.fc-border-separate th.fc-last,.fc-border-separate td.fc-last,.fc-agenda-days .fc-agenda-axis{border-right-width:1px}
table.fc-border-separate,.fc-agenda table{border-collapse:separate}
.fc-border-separate tbody tr.fc-first td,.fc-border-separate tbody tr.fc-first th,.fc-agenda-slots tr.fc-slot0 th,.fc-agenda-slots tr.fc-slot0 td{border-top-width:0}
.fc-agenda-allday th,.fc-event-vert{border-width:0 1px}


/*! qTip2 - Pretty powerful tooltips - v2.0.0 - 2012-08-14
* http://craigsworks.com/projects/qtip2/
* Copyright (c) 2012 Craig Michael Thompson; Licensed MIT, GPL */
/* Core qTip styles */
.ui-tooltip, .qtip{position:absolute; left:-28000px; top:-28000px; display:none; max-width:280px; min-width:50px; font-size:10.5px; line-height:12px; border-width:1px; border-style:solid}

/* Fluid class for determining actual width in IE */
.ui-tooltip-fluid{display:block; visibility:hidden; position:static !important; float:left !important}
.ui-tooltip-content{position:relative; padding:5px 9px; overflow:hidden; text-align:left; word-wrap:break-word}
.ui-tooltip-titlebar{position:relative; min-height:14px; padding:5px 35px 5px 10px; overflow:hidden; border-width:0 0 1px; font-weight:bold}
.ui-tooltip-titlebar+.ui-tooltip-content{border-top-width:0 !important}

/* Default close button class */
.ui-tooltip-titlebar .ui-state-default{position:absolute; right:4px; top:50%; margin-top:-9px; cursor:pointer; outline:medium none; border-width:1px; border-style:solid}
* html .ui-tooltip-titlebar .ui-state-default{top:16px}/* IE fix */
.ui-tooltip-titlebar .ui-icon, 
.ui-tooltip-icon .ui-icon{display:block; text-indent:-1000em; direction:ltr}
.ui-tooltip-icon, .ui-tooltip-icon .ui-icon{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-decoration:none}
.ui-tooltip-icon .ui-icon{width:18px; height:14px; text-align:center; text-indent:0; font:normal bold 10px/13px Tahoma,sans-serif; color:inherit; background:transparent none no-repeat -100em -100em}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.ui-tooltip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.ui-tooltip-hover{}

/* Add shadows to your tooltips in:FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+*/
.ui-tooltip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15); -moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15); box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15)}

/* Add rounded corners to your tooltips in:FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+*/
.ui-tooltip-rounded, 
.ui-tooltip-tipsy, 
.ui-tooltip-bootstrap{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}

/* jQuery TOOLS Tooltip style */
.ui-tooltip-jtools{background:#232323; background:rgba(0,0,0,0.7); background-image:-webkit-gradient(linear,left top,left bottom,from(#717171),to(#232323)); background-image:-moz-linear-gradient(top,#717171,#232323); background-image:-webkit-linear-gradient(top,#717171,#232323); background-image:-ms-linear-gradient(top,#717171,#232323); background-image:-o-linear-gradient(top,#717171,#232323); border:2px solid #ddd; border:2px solid rgba(241,241,241,1); -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; -webkit-box-shadow:0 0 12px #333; -moz-box-shadow:0 0 12px #333; box-shadow:0 0 12px #333}

/* IE Specific */
.ui-tooltip-jtools .ui-tooltip-titlebar{background-color:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"}
.ui-tooltip-jtools .ui-tooltip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"}

.ui-tooltip-jtools .ui-tooltip-titlebar, 
.ui-tooltip-jtools .ui-tooltip-content{background:transparent; color:white; border:0 dashed transparent}
.ui-tooltip-jtools .ui-tooltip-icon{border-color:#555}
.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover{border-color:#333}

/* Tipped style */
.ui-tooltip-tipped{border:3px solid #959FA9; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#F9F9F9; color:#454545; font-weight:normal; font-family:serif}
.ui-tooltip-tipped .ui-tooltip-titlebar{border-bottom-width:0; color:white; background:#3A79B8; background-image:-webkit-gradient(linear,left top,left bottom,from(#3A79B8),to(#2E629D)); background-image:-webkit-linear-gradient(top,#3A79B8,#2E629D); background-image:-moz-linear-gradient(top,#3A79B8,#2E629D); background-image:-ms-linear-gradient(top,#3A79B8,#2E629D); background-image:-o-linear-gradient(top,#3A79B8,#2E629D); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"}
.ui-tooltip-tipped .ui-tooltip-icon{border:2px solid #285589; background:#285589}
.ui-tooltip-tipped .ui-tooltip-icon .ui-icon{background-color:#FBFBFB; color:#555}

/* IE9 fix - removes all filters */
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content, 
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{filter:none; -ms-filter:none}

/* Tips plugin */
.ui-tooltip .ui-tooltip-tip{margin:0 auto; overflow:hidden; z-index:10}
.ui-tooltip .ui-tooltip-tip, 
.ui-tooltip .ui-tooltip-tip *{position:absolute; line-height:0.1px !important; font-size:0.1px !important; color:#123456; background:transparent; border:0 dashed transparent}
.ui-tooltip .ui-tooltip-tip canvas{top:0; left:0}


/* =Print
----------------------------------------------- */
@media print {
/*.fc-event-skin {background: none !important;color: #000 !important;}*/

/* horizontal events */
.fc-event-hori {padding: 1px 0 0 0 !important;}
.fc-event-hori .fc-event-inner {border-width: 0 !important;padding: 0 1px !important}
	
/* vertical events */
.fc-event-vert {padding: 0 1px 0 0 !important;}
.fc-event-vert .fc-event-inner {border-width: 0 !important;padding: 1px 0 !important;}

/*.fc-event-bg {display: none !important;}*/
.fc-event .ui-resizable-handle {display: none !important;}
.fc-button{display: none;}	
.eo-fullcalendar table tr td{width:10%;}
}
